fastapi==0.115.4
uvicorn[standard]==0.32.0
pydantic==2.9.2
SQLAlchemy==2.0.36
alembic==1.13.3
python-multipart==0.0.12
soundfile==0.12.1
faster-whisper==1.0.2
ctranslate2==4.5.0
numpy==2.1.2
watchfiles==0.24.0
loguru==0.7.2
requests==2.32.3
prometheus-client==0.20.0