# langid_service/requirements.txt
fastapi
uvicorn
loguru
python-multipart
sqlalchemy
prometheus-client==0.20.0
faster-whisper
torch
torchaudio
transformers
sentencepiece
pytest
pytest-cov
httpx
av
soundfile
numpy
torch
dotenv